

nav{
    display: flex;
    margin: 10px 25px;
    justify-content: space-between;
    align-items: center;
    display: inline-block;
    width: 100%;

}

a{
    text-decoration: solid;
    color:black;
    font-size: 20px;
}
body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: rgba(255, 128, 0, 0.528);
    }
.map-card {
    width: 260px;
    background: #1c1c1c;
    border-radius: 10px;
    overflow: hidden;
    transition: 0.3s;
}

.map-card img {
    width: 100%;
    height: 160px;
    object-fit: cover;
}
.map-info {
    background: rgba(0, 0, 0, 0.75);
    padding: 15px;
    text-align: center;
}

.map-info h3 {
    margin: 0;
    color: #ff6a00;
}

.map-info p {
    color: #ccc;
    font-size: 14px;
    margin: 10px 0;
}

.map-btn {
    display: inline-block;
    padding: 8px 18px;
    background: #ff6a00;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    font-weight: bold;
}

.map-card:hover {
    transform: translateY(-8px);
    box-shadow: 0 10px 25px rgba(255, 106, 0, 0.4);
}
.hero {
    background-image: url("images/bg.jpg");
}